@import '../../css/_variables.css';

p {
  margin-top: 0;
}

.selectBase,
.selectTarget {
  width: 10rem;
  border-color: #444;
}

.main {
  position: relative;
  width: 100%;
  height: 100%;
}

.date {
  position: absolute;
  top: -6.3333rem;
  right: 0;
  margin: 0;
  font-size: 1.333rem;
}

.content {
  display: flex;
  justify-content: space-between;
}

.contentHead {
  position: relative;
  font-size: 1.666rem;
  margin-bottom: 0.6em;
}

.contentHeadBase {
  color: var(--colour-blue);
}

.form {
  position: relative;
  width: 45%;
  z-index: 2;
}

.base,
.target {
  display: inline-block;
}

.target {
  margin-left: 6.666em;
}

.amount {
  margin-top: 3.333em;
}

.result {
  margin-bottom: 0;
  font-size: 6.666rem;
}

.inputAmount {
  width: 70%;
  padding: 1rem;
}

.ratesList {
  display: flex;
  flex-wrap: wrap;
  width: 55%;
  height: 100%;
  text-align: center;
  padding: 1rem;
  background-color: #eee;
}

.ratesItem {
  width: 16.666%;
  transition: color 0.4s, transform 0.4s;
}

.ratesItemActive {
  color: var(--colour-red);
  font-weight: 600;
  transform: scale(1.125);
}

.country {
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.3;
}

.rate {
  margin-top: 0;
  margin-bottom: 0.8em;
  color: #999;
  font-size: 0.9rem;
}

.buttonClear {
  margin-left: 1rem;
  padding: 0;
  border: none;
  background-color: transparent;
  color: var(--colour-red);
  text-decoration: underline;
  opacity: 0;

  &:active,
  &:focus {
    outline: none;
  }
}

@media only screen and (max-width: 768px) {
}
